{% extends 'basicblog.html' %}

{% block title %} Blog {% endblock title %}

{% block blogactive %} active {% endblock blogactive%}

{% block body %}

<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        <div class="item mb-5">
            <div class="media">
                <div class="media-body">
                    <h3 class="title mb-1"><a href="blog-post.html">Heading Lorem Ipsum Dolor Sit Amet</a></h3>
                    <div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">5 min
                            read</span><span class="comment"><a href="#">4 comments</a></span></div>
                    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                        eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Donec quam felis, ultricies...</div>
                    <a class="more-link" href="blog-post.html">Read more &rarr;</a>
                </div>
                <!--//media-body-->
            </div>
            <!--//media-->
        </div>
        <!--//item-->

        <nav class="blog-nav nav nav-justified my-5">
            <a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Previous<i
                    class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            <a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html">Next<i
                    class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>

    </div>
</section>

{% endblock body %}